body {
    padding-top: 60px;
}

#content {
    position: relative;
}

.view {
    position:absolute;
    display: none;
    width: 100%;
}
.selected {
    display: block;
}

.dragging {
    background-color: #323232;
    background-color: rgba(0, 0, 0, 0.25);
}

.processing {
    opacity: 0.25;
}

.title-align {
    margin-top: 16px;
}

/*.upload {
}*/
.upload img {
    float: left;
    width: 100px;
    margin-right: 10px;
    vertical-align: middle;
}
.upload .description {
    font-size: 1.3em;
    margin: 15px 0 5px 0;
}
.upload .date-line {
    font-size: 1.1em;
    font-style: italic;
}
.upload .date {
    display: inline;
}
.upload .small-number {
    width: 30px;
}